# Чтение файлов с помощью Pandas

In [1]:
# получаем доступ к гугл-диску
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os
# текущая директория
os.getcwd()

'/content'

In [5]:
ls -l

total 8
drwx------ 5 root root 4096 Jul 21 21:08 drive/
drwxr-xr-x 1 root root 4096 Jul 20 13:28 sample_data/

In [6]:
# переходим в директорию pandas
os.chdir('/content/drive/MyDrive/SkillBox/Pandas')

In [7]:
ls -l

total 1281
-rw------- 1 root root 578365 Jul 19 14:14 '12.1 Pandas.pdf'
-rw------- 1 root root  84562 Jul 20 14:04  12.1_SkillBox_Pandas.ipynb
-rw------- 1 root root  51339 Jul 20 14:32  12.1_SkillBox_Pandas_Практика.ipynb
drwx------ 2 root root   4096 Jul 20 12:19  12.2.Data/
-rw------- 1 root root  14801 Jul 20 08:23  12.2_Чтение_файлов_в_Pandas_Практика.ipynb
-rw------- 1 root root 116254 Jul 21 21:12  12.2_Чтение_файлов_с_помощью_Pandas.ipynb
-rw------- 1 root root 460387 Jul 20 08:23 '12.2 Чтение файлов с помощью Pandas.pdf'

In [8]:
import pandas as pd

За чтение файлов форматов Excel, таких как xlsx, xls, odf и других, отвечает функция pd.read_excel():

In [9]:
help(pd.read_excel)

Help on function read_excel in module pandas.io.excel._base:

read_excel(io, sheet_name: 'str | int | list[IntStrT] | None' = 0, *, header: 'int | Sequence[int] | None' = 0, names: 'list[str] | None' = None, index_col: 'int | Sequence[int] | None' = None, usecols: 'int | str | Sequence[int] | Sequence[str] | Callable[[str], bool] | None' = None, squeeze: 'bool | None' = None, dtype: 'DtypeArg | None' = None, engine: "Literal['xlrd', 'openpyxl', 'odf', 'pyxlsb'] | None" = None, converters: 'dict[str, Callable] | dict[int, Callable] | None' = None, true_values: 'Iterable[Hashable] | None' = None, false_values: 'Iterable[Hashable] | None' = None, skiprows: 'Sequence[int] | int | Callable[[int], object] | None' = None, nrows: 'int | None' = None, na_values=None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool' = False, parse_dates: 'list | dict | bool' = False, date_parser: 'Callable | None' = None, thousands: 'str | None' = None, decimal: 'str' = '.', comment: 'str | None' = None, skipfooter: 'int' = 0, convert_float: 'bool | None' = None, mangle_dupe_cols: 'bool' = True, storage_options: 'StorageOptions' = None) -> 'DataFrame | dict[IntStrT, DataFrame]'
    Read an Excel file into a pandas DataFrame.

    Supports `xls`, `xlsx`, `xlsm`, `xlsb`, `odf`, `ods` and `odt` file extensions
    read from a local filesystem or URL. Supports an option to read
    a single sheet or a list of sheets.

    Parameters
    ----------
    io : str, bytes, ExcelFile, xlrd.Book, path object, or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: ``file://localhost/path/to/table.xlsx``.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method,
        such as a file handle (e.g. via builtin ``open`` function)
        or ``StringIO``.
    sheet_name : str, int, list, or None, default 0
        Strings are used for sheet names. Integers are used in zero-indexed
        sheet positions (chart sheets do not count as a sheet position).
        Lists of strings/integers are used to request multiple sheets.
        Specify None to get all worksheets.

        Available cases:

        * Defaults to ``0``: 1st sheet as a `DataFrame`
        * ``1``: 2nd sheet as a `DataFrame`
        * ``"Sheet1"``: Load sheet with name "Sheet1"
        * ``[0, 1, "Sheet5"]``: Load first, second and sheet named "Sheet5"
          as a dict of `DataFrame`
        * None: All worksheets.

    header : int, list of int, default 0
        Row (0-indexed) to use for the column labels of the parsed
        DataFrame. If a list of integers is passed those row positions will
        be combined into a ``MultiIndex``. Use None if there is no header.
    names : array-like, default None
        List of column names to use. If file contains no header row,
        then you should explicitly pass header=None.
    index_col : int, list of int, default None
        Column (0-indexed) to use as the row labels of the DataFrame.
        Pass None if there is no such column.  If a list is passed,
        those columns will be combined into a ``MultiIndex``.  If a
        subset of data is selected with ``usecols``, index_col
        is based on the subset.

        Missing values will be forward filled to allow roundtripping with
        ``to_excel`` for ``merged_cells=True``. To avoid forward filling the
        missing values use ``set_index`` after reading the data instead of
        ``index_col``.
    usecols : str, list-like, or callable, default None
        * If None, then parse all columns.
        * If str, then indicates comma separated list of Excel column letters
          and column ranges (e.g. "A:E" or "A,C,E:F"). Ranges are inclusive of
          both sides.
        * If list of int, then indicates list of column numbers to be parsed
          (0-indexed).
        * If list of string, then indicates list of column names to be parsed.
        * If callable, then evaluate each column name against it and parse the
          column if the callable returns ``True``.

        Returns a subset of the columns according to behavior above.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.

        .. deprecated:: 1.4.0
           Append ``.squeeze("columns")`` to the call to ``read_excel`` to squeeze
           the data.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `object` to preserve data as stored in Excel and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : str, default None
        If io is not a buffer or path, this must be set to identify io.
        Supported engines: "xlrd", "openpyxl", "odf", "pyxlsb".
        Engine compatibility :

        - "xlrd" supports old-style Excel files (.xls).
        - "openpyxl" supports newer Excel file formats.
        - "odf" supports OpenDocument file formats (.odf, .ods, .odt).
        - "pyxlsb" supports Binary Excel files.

        .. versionchanged:: 1.2.0
            The engine `xlrd <https://xlrd.readthedocs.io/en/latest/>`_
            now only supports old-style ``.xls`` files.
            When ``engine=None``, the following logic will be
            used to determine the engine:

           - If ``path_or_buffer`` is an OpenDocument format (.odf, .ods, .odt),
             then `odf <https://pypi.org/project/odfpy/>`_ will be used.
           - Otherwise if ``path_or_buffer`` is an xls format,
             ``xlrd`` will be used.
           - Otherwise if ``path_or_buffer`` is in xlsb format,
             ``pyxlsb`` will be used.

             .. versionadded:: 1.3.0
           - Otherwise ``openpyxl`` will be used.

             .. versionchanged:: 1.3.0

    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can
        either be integers or column labels, values are functions that take one
        input argument, the Excel cell content, and return the transformed
        content.
    true_values : list, default None
        Values to consider as True.
    false_values : list, default None
        Values to consider as False.
    skiprows : list-like, int, or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int) at the
        start of the file. If callable, the callable function will be evaluated
        against the row indices, returning True if the row should be skipped and
        False otherwise. An example of a valid callable argument would be ``lambda
        x: x in [0, 2]``.
    nrows : int, default None
        Number of rows to parse.
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values. By default the following values are interpreted
        as NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    parse_dates : bool, list-like, or dict, default False
        The behavior is as follows:

        * bool. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index contains an unparsable date, the entire column or
        index will be returned unaltered as an object data type. If you don`t want to
        parse some cells as date just change their type in Excel to "Text".
        For non-standard datetime parsing, use ``pd.to_datetime`` after ``pd.read_excel``.

        Note: A fast-path exists for iso8601-formatted dates.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    thousands : str, default None
        Thousands separator for parsing string columns to numeric.  Note that
        this parameter is only necessary for columns stored as TEXT in Excel,
        any numeric columns will automatically be parsed, regardless of display
        format.
    decimal : str, default '.'
        Character to recognize as decimal point for parsing string columns to numeric.
        Note that this parameter is only necessary for columns stored as TEXT in Excel,
        any numeric columns will automatically be parsed, regardless of display
        format.(e.g. use ',' for European data).

        .. versionadded:: 1.4.0

    comment : str, default None
        Comments out remainder of line. Pass a character or characters to this
        argument to indicate comments in the input file. Any data between the
        comment string and the end of the current line is ignored.
    skipfooter : int, default 0
        Rows at the end to skip (0-indexed).
    convert_float : bool, default True
        Convert integral floats to int (i.e., 1.0 --> 1). If False, all numeric
        data will be read in as floats: Excel stores all numbers as floats
        internally.

        .. deprecated:: 1.3.0
            convert_float will be removed in a future version

    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.

        .. deprecated:: 1.5.0
            Not implemented, and a new argument to specify the pattern for the
            names of duplicated columns will be added instead

    storage_options : dict, optional
        Extra options that make sense for a particular storage connection, e.g.
        host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
        are forwarded to ``urllib.request.Request`` as header options. For other
        URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
        forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
        details, and for more examples on storage options refer `here
        <https://pandas.pydata.org/docs/user_guide/io.html?
        highlight=storage_options#reading-writing-remote-files>`_.

        .. versionadded:: 1.2.0

    Returns
    -------
    DataFrame or dict of DataFrames
        DataFrame from the passed in Excel file. See notes in sheet_name
        argument for more information on when a dict of DataFrames is returned.

    See Also
    --------
    DataFrame.to_excel : Write DataFrame to an Excel file.
    DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    The file can be read using the file name as string or an open file object:

    >>> pd.read_excel('tmp.xlsx', index_col=0)  # doctest: +SKIP
           Name  Value
    0   string1      1
    1   string2      2
    2  #Comment      3

    >>> pd.read_excel(open('tmp.xlsx', 'rb'),
    ...               sheet_name='Sheet3')  # doctest: +SKIP
       Unnamed: 0      Name  Value
    0           0   string1      1
    1           1   string2      2
    2           2  #Comment      3

    Index and header can be specified via the `index_col` and `header` arguments

    >>> pd.read_excel('tmp.xlsx', index_col=None, header=None)  # doctest: +SKIP
         0         1      2
    0  NaN      Name  Value
    1  0.0   string1      1
    2  1.0   string2      2
    3  2.0  #Comment      3

    Column types are inferred but can be explicitly specified

    >>> pd.read_excel('tmp.xlsx', index_col=0,
    ...               dtype={'Name': str, 'Value': float})  # doctest: +SKIP
           Name  Value
    0   string1    1.0
    1   string2    2.0
    2  #Comment    3.0

    True, False, and NA values, and thousands separators have defaults,
    but can be explicitly specified, too. Supply the values you would like
    as strings or lists of strings!

    >>> pd.read_excel('tmp.xlsx', index_col=0,
    ...               na_values=['string1', 'string2'])  # doctest: +SKIP
           Name  Value
    0       NaN      1
    1       NaN      2
    2  #Comment      3

    Comment lines in the excel input file can be skipped using the `comment` kwarg

    >>> pd.read_excel('tmp.xlsx', index_col=0, comment='#')  # doctest: +SKIP
          Name  Value
    0  string1    1.0
    1  string2    2.0
    2     None    NaN

Функции в качестве пути к файлу передадим только название 'partner_data.xlsx'.

В параметре `sheet_name` передадим название листа 'partner_data1'.

Для параметра `header` укажем значение 0 (по умолчанию метки столбцов берутся из первой по счёту строки, которой соответствует нулевой индекс, поэтому передача параметра в данном случае также не обязательна).

Документация по `pd.read_excel`: https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html

In [11]:
df = pd.read_excel('12.2.Data/partner_data.xlsx', sheet_name='partner_data1', header=0)
df = df.set_index('id')
df

       age           job  marital  education  balance housing loan default
id
1     26.0    unemployed  married   tertiary      454     yes  yes      no
2     25.0    technician  married  secondary      517      no   no      no
3     36.0    technician   single  secondary     1044     yes   no      no
4     45.0   blue-collar  married  secondary      146     yes  yes      no
5     27.0    management  married   tertiary      145      no   no      no
...    ...           ...      ...        ...      ...     ...  ...     ...
996   41.0  entrepreneur  married  secondary    -1882     yes   no      no
997   58.0    management  married   tertiary     1271     yes   no      no
998   31.0      services   single  secondary      297      no   no      no
999   31.0  entrepreneur      NaN   tertiary      312      no   no      no
1000  23.0   blue-collar   single  secondary      780     yes   no      no

[1000 rows x 8 columns]

Размер таблицы уже распечатан под датафреймом, но мы можем проверить это отдельно:

In [12]:
df.shape

(1000, 8)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 1 to 1000
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        901 non-null    float64
 1   job        1000 non-null   object
 2   marital    897 non-null    object
 3   education  1000 non-null   object
 4   balance    1000 non-null   int64
 5   housing    1000 non-null   object
 6   loan       1000 non-null   object
 7   default    1000 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 70.3+ KB

На первой позиции количество строк, на второй – столбцов.

Имена колонок df:

In [14]:
df.columns

Index(['age', 'job', 'marital', 'education', 'balance', 'housing', 'loan',
       'default'],
      dtype='object')

Столбец `index` (первый безымянный столбец в датафрейме) создаётся автоматически, содержит уникальный идентификатор для каждой строки и служит для нумерации строк в таблице, подобно столбцу `id`. Столбец может содержать не только числа, но и другие уникальные значения, например, строки. Чтобы посмотреть значения вспомогательного столбца необходимо прописать:

In [15]:
df.index

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
             991,  992,  993,  994,  995,  996,  997,  998,  999, 1000],
           dtype='int64', name='id', length=1000)

Чтобы обозначить столбец `id` в качестве столбца индексов, используем параметр `index_col`:

In [16]:
df = pd.read_excel('12.2.Data/partner_data.xlsx', sheet_name='partner_data1', header=0, index_col='id')
df

       age           job  marital  education  balance housing loan default
id
1     26.0    unemployed  married   tertiary      454     yes  yes      no
2     25.0    technician  married  secondary      517      no   no      no
3     36.0    technician   single  secondary     1044     yes   no      no
4     45.0   blue-collar  married  secondary      146     yes  yes      no
5     27.0    management  married   tertiary      145      no   no      no
...    ...           ...      ...        ...      ...     ...  ...     ...
996   41.0  entrepreneur  married  secondary    -1882     yes   no      no
997   58.0    management  married   tertiary     1271     yes   no      no
998   31.0      services   single  secondary      297      no   no      no
999   31.0  entrepreneur      NaN   tertiary      312      no   no      no
1000  23.0   blue-collar   single  secondary      780     yes   no      no

[1000 rows x 8 columns]

Метод `head` по умолчанию распечатывает первые 5 строк, метод `tail`  —  последние 5.

In [17]:
df.head()

     age          job  marital  education  balance housing loan default
id
1   26.0   unemployed  married   tertiary      454     yes  yes      no
2   25.0   technician  married  secondary      517      no   no      no
3   36.0   technician   single  secondary     1044     yes   no      no
4   45.0  blue-collar  married  secondary      146     yes  yes      no
5   27.0   management  married   tertiary      145      no   no      no

In [18]:
df.tail()

       age           job  marital  education  balance housing loan default
id
996   41.0  entrepreneur  married  secondary    -1882     yes   no      no
997   58.0    management  married   tertiary     1271     yes   no      no
998   31.0      services   single  secondary      297      no   no      no
999   31.0  entrepreneur      NaN   tertiary      312      no   no      no
1000  23.0   blue-collar   single  secondary      780     yes   no      no

Передадим 10  в `head`, чтобы распечатать первые 10 строк.

In [19]:
df.head(10)

     age          job   marital  education  balance housing loan default
id
1   26.0   unemployed   married   tertiary      454     yes  yes      no
2   25.0   technician   married  secondary      517      no   no      no
3   36.0   technician    single  secondary     1044     yes   no      no
4   45.0  blue-collar   married  secondary      146     yes  yes      no
5   27.0   management   married   tertiary      145      no   no      no
6   45.0   unemployed  divorced    primary       11      no   no     yes
7   35.0   management   married   tertiary      298     yes   no      no
8   27.0   technician    single  secondary      905     yes  yes      no
9    NaN   management   married   tertiary     -485     yes   no     yes
10  32.0   unemployed   married  secondary       10     yes   no      no

Для чтения файлов формата csv существует функция `pd.read_csv`:

In [ ]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer: Union[str, pathlib.Path, IO[~AnyStr]], sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal: str = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparseable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.
    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.
    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

In [20]:
pd.read_csv('12.2.Data/partner_data.csv')

,id,age,job,marital,education,balance,housing,loan,default
0,1,26.0,unemployed,married,tertiary,454,yes,yes,no
1,2,25.0,technician,married,secondary,517,no,no,no
2,3,36.0,technician,single,secondary,1044,yes,no,no
3,4,45.0,blue-collar,married,secondary,146,yes,yes,no
4,5,27.0,management,married,tertiary,145,no,no,no
...,...,...,...,...,...,...,...,...,...
995,996,41.0,entrepreneur,married,secondary,-1882,yes,no,no
996,997,58.0,management,married,tertiary,1271,yes,no,no
997,998,31.0,services,single,secondary,297,no,no,no
998,999,31.0,entrepreneur,NaN,tertiary,312,no,no,no
999,1000,23.0,blue-collar,single,secondary,780,yes,no,no

Чтение файла 'partner_data_semicolon.csv' с разделителем `;`:

In [21]:
pd.read_csv('12.2.Data/partner_data_semicolon.csv')

    id;age;job;marital;education;balance;housing;loan;default
0    1;26.0;unemployed;married;tertiary;454;yes;yes;no
1     2;25.0;technician;married;secondary;517;no;no;no
2    3;36.0;technician;single;secondary;1044;yes;no;no
3    4;45.0;blue-collar;married;secondary;146;yes;y...
4      5;27.0;management;married;tertiary;145;no;no;no
..                                                 ...
995  996;41.0;entrepreneur;married;secondary;-1882;...
996  997;58.0;management;married;tertiary;1271;yes;...
997    998;31.0;services;single;secondary;297;no;no;no
998       999;31.0;entrepreneur;;tertiary;312;no;no;no
999  1000;23.0;blue-collar;single;secondary;780;yes...

[1000 rows x 1 columns]

Разделитель можно передать в параметре `sep` или `delimiter`:

In [22]:
pd.read_csv('12.2.Data/partner_data_semicolon.csv', sep=';')

,id,age,job,marital,education,balance,housing,loan,default
0,1,26.0,unemployed,married,tertiary,454,yes,yes,no
1,2,25.0,technician,married,secondary,517,no,no,no
2,3,36.0,technician,single,secondary,1044,yes,no,no
3,4,45.0,blue-collar,married,secondary,146,yes,yes,no
4,5,27.0,management,married,tertiary,145,no,no,no
...,...,...,...,...,...,...,...,...,...
995,996,41.0,entrepreneur,married,secondary,-1882,yes,no,no
996,997,58.0,management,married,tertiary,1271,yes,no,no
997,998,31.0,services,single,secondary,297,no,no,no
998,999,31.0,entrepreneur,NaN,tertiary,312,no,no,no
999,1000,23.0,blue-collar,single,secondary,780,yes,no,no

In [23]:
pd.read_csv('12.2.Data/partner_data_semicolon.csv', delimiter=';')

,id,age,job,marital,education,balance,housing,loan,default
0,1,26.0,unemployed,married,tertiary,454,yes,yes,no
1,2,25.0,technician,married,secondary,517,no,no,no
2,3,36.0,technician,single,secondary,1044,yes,no,no
3,4,45.0,blue-collar,married,secondary,146,yes,yes,no
4,5,27.0,management,married,tertiary,145,no,no,no
...,...,...,...,...,...,...,...,...,...
995,996,41.0,entrepreneur,married,secondary,-1882,yes,no,no
996,997,58.0,management,married,tertiary,1271,yes,no,no
997,998,31.0,services,single,secondary,297,no,no,no
998,999,31.0,entrepreneur,NaN,tertiary,312,no,no,no
999,1000,23.0,blue-collar,single,secondary,780,yes,no,no

Указываем столбец `id` как индекс:

In [24]:
df = pd.read_csv('12.2.Data/partner_data_semicolon.csv', sep=';', index_col='id')
df

       age           job  marital  education  balance housing loan default
id
1     26.0    unemployed  married   tertiary      454     yes  yes      no
2     25.0    technician  married  secondary      517      no   no      no
3     36.0    technician   single  secondary     1044     yes   no      no
4     45.0   blue-collar  married  secondary      146     yes  yes      no
5     27.0    management  married   tertiary      145      no   no      no
...    ...           ...      ...        ...      ...     ...  ...     ...
996   41.0  entrepreneur  married  secondary    -1882     yes   no      no
997   58.0    management  married   tertiary     1271     yes   no      no
998   31.0      services   single  secondary      297      no   no      no
999   31.0  entrepreneur      NaN   tertiary      312      no   no      no
1000  23.0   blue-collar   single  secondary      780     yes   no      no

[1000 rows x 8 columns]

Для обращения к элементам таблицы — строкам и столбцам — существует два основных метода:
* .iloc — выбор элементов по индексу;
* .loc — выбор элементов по названию.

Значение элемента на позиции [ строки, столбцы]:

In [ ]:
df.iloc[0,0]

26.0

Также в качестве индекса можно передать числовые срезы:

In [26]:
strings = range(0,3)
columns = range(0,4)
df.iloc[strings, columns]

     age         job  marital  education
id
1   26.0  unemployed  married   tertiary
2   25.0  technician  married  secondary
3   36.0  technician   single  secondary

In [28]:
df.iloc[0:3 , 0:4]

     age         job  marital  education
id
1   26.0  unemployed  married   tertiary
2   25.0  technician  married  secondary
3   36.0  technician   single  secondary

Полный срез для первого (нулевого) столбца:

In [29]:
df.iloc[:, 0] # 0-й столбец

id
1       26.0
2       25.0
3       36.0
4       45.0
5       27.0
        ...
996     41.0
997     58.0
998     31.0
999     31.0
1000    23.0
Name: age, Length: 1000, dtype: float64

Полный срез для первой (нулевой) строки:

In [ ]:
df.iloc[0, :] # 0-я строка

age                  26
job          unemployed
marital         married
education      tertiary
balance             454
housing             yes
loan                yes
default              no
Name: 1, dtype: object

4 и 5 запись для 2 и 3 столбца, которыми являются семейное положение и образование:

In [ ]:
df.iloc[4:6, 2:4]

     marital education
id
5    married  tertiary
6   divorced   primary

In [40]:
df.columns[[1,3,7]]

Index(['job', 'education', 'default'], dtype='object')

In [36]:
df.iloc[2:5,[1,3,7]]

            job  education default
id
3    technician  secondary      no
4   blue-collar  secondary      no
5    management   tertiary      no

Заменим `.iloc` на `.loc`:

In [ ]:
df.loc[0,0]

KeyError: ignored

В `.loc` требуется передавать не индексы строк и столбцов, а их названия, поэтому пропишем явно индекс `id` — 1 и название колонки — 'age'.

In [41]:
df.loc[1, 'age']

26.0

При этом мы всё так же можем управлять срезами, передавая границы отрезков или запрашивая все значения.

In [42]:
df.loc[1:3, 'age']

id
1    26.0
2    25.0
3    36.0
Name: age, dtype: float64

In [ ]:
df.loc[:, 'age']

id
1       26.0
2       25.0
3       36.0
4       45.0
5       27.0
        ...
996     41.0
997     58.0
998     31.0
999     31.0
1000    23.0
Name: age, Length: 1000, dtype: float64

In [ ]:
df.loc[5:6, 'marital':'education']

     marital education
id
5    married  tertiary
6   divorced   primary

Обратите внимание: для выбора элементов по индексу правая граница отрезка отсекалась и не выводилась. <br>
При выборе элементов по названию всё иначе — значения обеих границ включаются в вывод.

Названия строк и столбцов можно также передать в списках:

In [ ]:
df.loc[[5,10], ['marital','default']]

    marital default
id
5   married      no
10  married      no

Вывод значений целого столбца:

In [ ]:
df['age']

id
1       26.0
2       25.0
3       36.0
4       45.0
5       27.0
        ...
996     41.0
997     58.0
998     31.0
999     31.0
1000    23.0
Name: age, Length: 1000, dtype: float64

Если требуется получить значения по нескольких столбцам, нужно заключить названия столбцов в двойные квадратные скобки:

In [ ]:
df[['age', 'marital']]

       age  marital
id
1     26.0  married
2     25.0  married
3     36.0   single
4     45.0  married
5     27.0  married
...    ...      ...
996   41.0  married
997   58.0  married
998   31.0   single
999   31.0      NaN
1000  23.0   single

[1000 rows x 2 columns]

In [44]:
df[['marital','default']][0:6]

     marital default
id
1    married      no
2    married      no
3     single      no
4    married      no
5    married      no
6   divorced     yes

In [48]:
df[0:7][0:6]

     age          job   marital  education  balance housing loan default
id
1   26.0   unemployed   married   tertiary      454     yes  yes      no
2   25.0   technician   married  secondary      517      no   no      no
3   36.0   technician    single  secondary     1044     yes   no      no
4   45.0  blue-collar   married  secondary      146     yes  yes      no
5   27.0   management   married   tertiary      145      no   no      no
6   45.0   unemployed  divorced    primary       11      no   no     yes